<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about" class="card-block">
        <h2>About me</h2>
        <%= image_tag 'images/my_photo.jpeg', alt: "profile photo", class: 'avatar' %>
        <br>
        <p>Proficient in both Japanese and English, I have over 7 years of experience in the IT infrastructure area.</p>
        <p>Creative, eager to learn, and with a strong interest in building web applications, I decided to challenge myself in learning web development at Le Wagon Tokyo.</p>
        <p>I am now looking forward to keep improving my skills and bring more ideas to life!</p>
      </div>
    </div>
  </div>
</div>
