<div class="row justify-content-center banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path('photoholder.jpg') %>);">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main">Alexia Sander</h1>
    <p class="subtitle">Full-stack developer</p>
  </div>
</div>
