<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="skills" class="card-block">
        <h2>Skills</h2>
        <div class="languages">
          <h3>Languages</h3>
          <ul class="icon-list">
            <li>
              <i class="flag-icon flag-icon-fr"></i>
              <p>Native level</p>
            </li>
            <li>
              <i class="flag-icon flag-icon-gb"></i>
              <p>Business level</p>
            </li>
            <li>
              <i class="flag-icon flag-icon-jp"></i>
              <p>Business level </p>
            </li>
          </ul>
        </div>
        <div class="tech-stacks">
          <h3>Tech stacks</h3>
          <ul class="icon-list">
            <li>
              <i class="devicon-ruby-plain colored"></i>
            </li>
            <li>
              <i class="devicon-rails-plain colored"></i>
            </li>
            <li>
              <i class="devicon-html5-plain colored"></i>
            </li>
            <li>
              <i class="devicon-css3-plain colored"></i>
            </li>
            <li>
              <i class="devicon-javascript-plain colored"></i>
            </li>
            <li>
              <i class="devicon-postgresql-plain colored"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
