.container {
  width: 70%;
}

.container-overall {
  background-image: url('../assets/images/back.jpg'); /* Replace 'path/to/your-image.jpg' with the actual path to your image */
  background-size: cover; /* Adjust as needed to control image sizing */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center center; /* Center the image horizontally and vertically */
}

body {
  background-color:#f0e7ec;
  font-family: 'Open Sans', sans-serif;
  color: #575F7D;
  line-height: 1.5;
}

#about {
  text-align: center;
}

// .subtitle {
//   color: #e46ea5;
//   font-weight: bold;
//   font-family: 'Parisienne', cursive;
//   letter-spacing: 1px;
//   font-size: 45px;
//   text-align: center;
// }

// h1 {
//   color: #e46ea5;
//   font-weight: bold;
//   font-family: 'Parisienne', cursive;
//   letter-spacing: 1px;
//   font-size: 45px;
//   text-align: center;
// }

h2 {
  color: #d06f8b;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 23px;
  font-family: 'mali', serif;
  text-align: center;
  margin: 20px;
  border-bottom: 0.5px solid #d06f8b;
  padding-bottom: 10px;
}

h3 {
  color: #575F7D;
  font-family: 'roboto', serif;
  margin: 20px;
  font-size: 18px;
  text-align: center;
}

h4 {
  font-weight: bold;
  font-family: 'roboto', serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
}
